rusterix.dtd

<!ELEMENT category (item+)>
<!ATTLIST category id CDATA #REQUIRED>

<!ELEMENT item (sequence)>
<!ATTLIST item
    id CDATA #REQUIRED
    name CDATA #IMPLIED
>

<!ELEMENT sequence (fspec?, (primitive | optional | repeat | sequence)*)>

<!ELEMENT fspec EMPTY>
<!ATTLIST fspec
    bytes CDATA #REQUIRED
>

<!ELEMENT primitive EMPTY>
<!ATTLIST primitive
    bits CDATA #REQUIRED
    name CDATA #IMPLIED
>

<!ELEMENT optional (primitive | sequence | repeat)>
<!ATTLIST optional
    condition CDATA #REQUIRED
>

<!ELEMENT repeat (primitive | sequence)>
<!ATTLIST repeat
    counter CDATA #REQUIRED
>
