rusterix.dtd

<!ENTITY % common-attributes "
    bytes               CDATA #REQUIRED
">
<!ENTITY % compoundable-data "(fixed | explicit | extended | repetitive)">
<!ENTITY % elements "(field | epb | enum  | spare)+">
<!ENTITY % element-attributes "
    bits                CDATA #REQUIRED
">

<!ELEMENT category      (item+)>
<!ATTLIST category 
    id                  CDATA #REQUIRED
>

<!ELEMENT item          (%compoundable-data; | compound)>
<!ATTLIST item
    id                  CDATA #REQUIRED
    frn                 CDATA #REQUIRED
>
<!-- DataItem's structural tags -->
<!ELEMENT fixed         %elements;>
<!ATTLIST fixed         %common-attributes;>

<!ELEMENT explicit      %elements;>
<!ATTLIST explicit      %common-attributes;>

<!ELEMENT extended      (part)+>
<!ATTLIST extended      %common-attributes;>

<!ELEMENT repetitive    %elements;>
<!ATTLIST repetitive    %common-attributes;
    counter             CDATA #REQUIRED    
>

<!ELEMENT compound      (%compoundable-data;)+>

<!ELEMENT part          %elements;>
<!ATTLIST part 
    index               CDATA #REQUIRED
>

<!-- DataItem's field tags -->
<!ELEMENT field         EMPTY>
<!ATTLIST field         %element-attributes;
    name                CDATA #REQUIRED
>

<!ELEMENT spare         EMPTY>
<!ATTLIST spare         %element-attributes;>

<!-- The Element Populated Bit -->
<!ELEMENT epb           (field | enum)>

<!ELEMENT enum          (value)+>
<!ATTLIST enum          %element-attributes;
    name                CDATA #REQUIRED
>

<!ELEMENT value         EMPTY>
<!ATTLIST value
    name                CDATA #REQUIRED
    value               CDATA #REQUIRED
>
