rusterix.dtd

<!--
    Rusterix DTD - Document Type Definition

    This DTD defines the XML schema for ASTERIX (All-purpose STructured
    Eurocontrol suRveillance Information eXchange) category definitions.

    ASTERIX is a standard for the exchange of surveillance data used in
    Air Traffic Control (ATC) systems.

    Structure Overview:
    - category: Root element containing one or more items
    - item: A Data Item with a unique ID and FRN (Field Reference Number)
    - Data structures: fixed, explicit, extended, repetitive, compound
    - Field elements: field, spare, enum, epb (Element Populated Bit)
-->

<!-- ================================================================== -->
<!-- PARAMETER ENTITIES                                                  -->
<!-- ================================================================== -->

<!-- Common attributes for data structures with byte length -->
<!ENTITY % common-attributes "
    bytes               CDATA #REQUIRED
">

<!-- Element attributes for field-level elements with bit length -->
<!ENTITY % element-attributes "
    bits                CDATA #REQUIRED
">

<!-- Data structure types that can be used within compound elements -->
<!ENTITY % compoundable-data "(fixed | explicit | extended | repetitive)">

<!-- Field-level elements that can appear within data structures -->
<!ENTITY % elements "(field | epb | enum | spare)+">

<!-- ================================================================== -->
<!-- ROOT ELEMENT                                                        -->
<!-- ================================================================== -->

<!--
    category: Root element representing an ASTERIX category definition.

    Attributes:
        id - Category identifier (e.g., "001", "048", "062")

    Contains: One or more item elements
-->
<!ELEMENT category (item+)>
<!ATTLIST category
    id                  CDATA #REQUIRED
>

<!-- ================================================================== -->
<!-- DATA ITEM                                                           -->
<!-- ================================================================== -->

<!--
    item: Represents a single ASTERIX Data Item.

    Attributes:
        id  - Data Item identifier (e.g., "010", "020")
        frn - Field Reference Number for UAP (User Application Profile)

    Contains: A data structure (fixed, explicit, extended, repetitive)
              or a compound structure
-->
<!ELEMENT item (%compoundable-data; | compound)>
<!ATTLIST item
    id                  CDATA #REQUIRED
    frn                 CDATA #REQUIRED
>

<!-- ================================================================== -->
<!-- DATA STRUCTURES                                                     -->
<!-- ================================================================== -->

<!--
    fixed: Fixed-length data structure.

    The total length is predetermined and constant.

    Attributes:
        bytes - Length in bytes
-->
<!ELEMENT fixed %elements;>
<!ATTLIST fixed %common-attributes;>

<!--
    explicit: Explicit-length data structure.

    The length is specified by an explicit length indicator in the data.

    Attributes:
        bytes - Minimum/base length in bytes
-->
<!ELEMENT explicit %elements;>
<!ATTLIST explicit %common-attributes;>

<!--
    extended: Variable-length data structure with extension mechanism.

    Uses FX (Field Extension) bits to indicate presence of additional parts.

    Attributes:
        bytes - Length of each part in bytes

    Contains: One or more part elements
-->
<!ELEMENT extended (part)+>
<!ATTLIST extended %common-attributes;>

<!--
    repetitive: Repetitive data structure.

    Contains a counter followed by repeated occurrences of the same format.

    Attributes:
        bytes   - Length of each repetition in bytes
        counter - Size of the repetition counter in bits
-->
<!ELEMENT repetitive %elements;>
<!ATTLIST repetitive %common-attributes;
    counter             CDATA #REQUIRED
>

<!--
    compound: Compound data structure.

    A container that combines multiple data structures, each with its own
    presence indicator (SF - Subfield present).

    Contains: One or more compoundable data structures
-->
<!ELEMENT compound (%compoundable-data;)+>

<!--
    part: A part within an extended data structure.

    Each part represents an extension segment with its own FX bit.

    Attributes:
        index - Part index (0-based)
-->
<!ELEMENT part %elements;>
<!ATTLIST part
    index               CDATA #REQUIRED
>

<!-- ================================================================== -->
<!-- FIELD ELEMENTS                                                      -->
<!-- ================================================================== -->

<!--
    field: A named data field.

    Represents a single piece of information within a data structure.

    Attributes:
        bits - Field width in bits
        name - Field identifier/name
-->
<!ELEMENT field EMPTY>
<!ATTLIST field %element-attributes;
    name                CDATA #REQUIRED
>

<!--
    spare: Spare/padding bits.

    Reserved bits that should be set to zero.

    Attributes:
        bits - Number of spare bits
-->
<!ELEMENT spare EMPTY>
<!ATTLIST spare %element-attributes;>

<!--
    epb: Element Populated Bit.

    A conditional field that indicates whether an optional element is present.
    The EPB itself is 1 bit, and when set, indicates the presence of the
    associated field or enum.

    Contains: A field or enum element
-->
<!ELEMENT epb (field | enum)>

<!--
    enum: Enumerated field with predefined values.

    A field that can only take specific predefined values.

    Attributes:
        bits - Field width in bits
        name - Enumeration name

    Contains: One or more value elements
-->
<!ELEMENT enum (value)+>
<!ATTLIST enum %element-attributes;
    name                CDATA #REQUIRED
>

<!--
    value: A single enumeration value.

    Defines a name-value pair for an enumerated field.

    Attributes:
        name  - Symbolic name for the value
        value - Numeric value (typically in decimal)
-->
<!ELEMENT value EMPTY>
<!ATTLIST value
    name                CDATA #REQUIRED
    value               CDATA #REQUIRED
>
